.container1{
    width: 100%;
    height: auto;
}
.columnaA{
    height:auto;
}
.columnaB{
    height: auto;
}
.columnaC{
    height: auto;
}
/* .dos{
} */
.casos{
    color:black;
}
.tres{
    height: 300px;
}
.cuatro{
    height: 300px;
    
}
.cinco{
    height: 300px;
    
}
.seis{
    height: 300px;
    
}
.siete{
    height: 300px;
    
}
.ocho{
    height: 300px;
    background-color: #94a2ab;
}

#mapid { height: 40vh;}
#graphpid { height: 40vh; }
.dropdown-menu{
    height: 200px;
}
.chart-container {
    width: 80%;
    height: 40vh;
    margin: 0 auto;
}

.pie-chart-container,
.doughnut-chart-container, 
.scatter-chart-container{
height: auto;
width:100%;
float: left;
}

.estado_actual{
    color:rgb(247, 228, 201);
    
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}