.container1{
    width: 100%;
    height: auto;
}
.columnaA{
    height:auto;
}
.columnaB{
    height: auto;
}
.columnaC{
    height: auto;
}
/* .dos{
} */
.casos{
    font-size: 13px;
    color:black;
}
.tres{
    height: 300px;
    background-color: blueviolet;
}
.cuatro{
    height: 300px;
    background-color: #a5534c;
}
.cinco{
    height: 300px;
    background-color:  	#c7a3a2;
}
.seis{
    height: 300px;
    background-color: #ce9e5c;
}
.siete{
    height: 300px;
    background-color: #516c7f;
}
.ocho{
    height: 300px;
    background-color: #94a2ab;
}

#mapid { height: 40vh;}
#graphpid { height: 40vh; }
.dropdown-menu{
    height: 200px;
}
.chart-container {
    width: 80%;
    height: 480px;
    margin: 0 auto;
}

.pie-chart-container,
.doughnut-chart-container, 
.scatter-chart-container{
height: 360px;
width: 360px;
float: left;
}